/*  Cookbook  |  CSS Stylesheet  */



/* Normalizing */

* { margin: 0; box-sizing: border-box; }

ul { padding: 0px; list-style-type: none; }



/*    1 - Typography    */

html { font: 100%/1.5 'Open Sans' arial, sans-serif; }

body, input, button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    margin: 0.2em 10px;
    line-height: 1.8;
}

h3 { font-family: 'Quicksand', sans-serif; font-size: 1.15em; margin: 1em 0; }

p { font-family: 'Open Sans', sans-serif; margin: 0; font-size: .9em; line-height: 1; }

li:hover {
    box-shadow: inset 0px 0px 10px 0px #DDDDDD,5px 5px 5px 1px #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 10px 0px #DDDDDD,5px 5px 5px 1px #FFFFFF;
    -moz-box-shadow: inset 0px 0px 10px 0px #DDDDDD,5px 5px 5px 1px #FFFFFF;
    -o-box-shadow: inset 0px 0px 10px 0px #DDDDDD,5px 5px 5px 1px #FFFFFF;
}

.selected { color: lightgrey; }

ul li { font-family: 'Quicksand', sans-serif; font-size: 1em; }

footer, #cupboardBox { text-align: center; }

footer .button span { font-family: 'Open Sans', sans-serif; font-size: 1.3em; font-weight: 600; }

a { text-decoration: none; }

#cupboardUnavailList li { color: red; }

#cupboardCount {
    color: red;
}



/*    2 - Layout    */

#container {
    width: 100%;
}

#wrapper {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

header, footer {
    position: fixed;
    width: 90%;
    max-width: 900px;
    z-index: 100;
}

header { border-radius: 8px 8px 0 0; }

footer { border-radius: 0 0 8px 8px; padding: 1em; bottom: 0; }

footer>* { position: relative; display: inline-block; }

main {
    position: relative;
    overflow-y: scroll;
    height: 70%;
    width: 100%;
    padding: 5em 0;
}

.column {
    position: relative;
    display: inline-block;
    float: left;
    width: 60%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.box {
    height: 50%;
    margin: 0;
    padding: 0;
    border: 0;
}

.listLabel {
    position: relative;
    height: 1.5em;
    text-align: center;
}

.selectBox {
    position: relative;
    display: block;
    height: 90%;
}

ul li {
    cursor: pointer;
    padding: .25em 2em;
    line-height: 2;
}

#cupboardBox {
    position: absolute;
    right: 0px;
    top: 1em;
}

#cupboardLists {
    background-color: #FFF;
    border-bottom: solid #DDD 1px;
    border-radius: 0 0 5px 5px;
    margin-top: .5em;
}

.left {
    float:left;
}

.right {
    float: right;
}

#cupboardUnavailList li:before { content: 'No '; }

.closed, .closed * {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    font-size: 0;
}

.open {
    background: white;
    border: black solid 1px;
    border-radius: 8px 0 8px 8px;
    margin-top: .3em;
    display:block;
    max-height: 300px;
    overflow-y: scroll;
}


.hide {
    display: none !important;
}


/* Skins */

header, footer { background-color: rgb(240,245,255); }

header { border-bottom: 1px solid black; }

footer { border-top: 1px solid black; }

li:nth-child(2n) { background-color: rgb(245,248,255); }

.button { cursor: pointer; }

.list {
    text-align: center;
    margin-top: 1em;
}